
<h3> Reading data from Google Sheet </h3>
<table border="1" class="rldfgs-table">
  <thead>
    <tr>
      {% for item in data.header %}
      <th>{{ item }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for items in data.rows %}
      <tr>
        {% for res in items %}
          <td>{{ res }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
